.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h1{
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.list{
    margin-top: 3rem;
}

.list h2{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 2rem;
}

.list button{
    margin-left: 3rem;
    margin-bottom: 0.5rem;
    background-color: #ef233c;
    padding: 0.25rem;
    border-radius: 0.25rem;
    color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.95rem;
    border: 1px solid #8d99ae;
}

.list li{
    border-bottom: 1px solid #8d99ae;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    font-weight: 100;
    font-size: 1.25rem;
}