body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

#header h1 {
    margin: 0;
    font-size: 36px;
}

#header h2 {
    margin: 0;
    font-size: 24px;
}

#image {
    text-align: center;
    padding: 20px;
}

#image img {
    width: 35rem;
    /* height: 20rem; */
    height: 25rem;
    border-radius: 0.5rem;

}

#content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

#content h3 {
    font-size: 24px;
}

#content ul {
    list-style-type: disc;
    margin-left: 20px;
}

#footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}